.body-default{
    background: linear-gradient(to bottom, #cdd8e4, #d8dce0);
}

.btn-login{
    background: #00cc99;
    margin-top: 20px;
}

.logo{
    /*background-image: url(../../assets/imgs/control.png);*/
    background-size: cover;
    background-position: center;
}
