$cor4:rgb(206, 3, 3);
.principalcompra {
    background: linear-gradient(to bottom, #cdd8e4, #d8dce0);
    
}
.btn-custom{
    margin-top: 30px;
    background: #00cc99;
    text-align: center;
    width: 100%!important;
    

}
#cardcompra{
    border-radius: 10px;
    width: 100%;
    margin-left: 0%;
}
.precot{
    color: $cor4;
}